@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:400,700&subset=latin,vietnamese,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Oxygen:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);





#dropdown-menu-22 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-22 .navbar-brand a {
  font-size: 21px;
}
#dropdown-menu-22 .nav .link,
#dropdown-menu-22 .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-22 .navbar,
#dropdown-menu-22 .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-22 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-22 .dropdown-menu a:hover,
#dropdown-menu-22 .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-22 .navbar-toggler {
  color: #000000;
}
#content5-34 .mbr-section-title {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 48px;
  color: #ffffff;
  text-align: right;
}
#content5-34 DIV {
  color: #ffffff;
}
#content5-34 P {
  text-align: right;
}
#content4-2k H4 {
  font-family: 'Oxygen', sans-serif;
  text-align: right;
}
#content4-2k P {
  text-align: left;
}
#msg-box4-30 .mbr-section-title {
  text-align: left;
  font-family: 'Oxygen', sans-serif;
  color: #ffffff;
}
#msg-box4-30 .lead P {
  text-align: left;
}
#msg-box4-30 .lead {
  color: #ffffff;
}
#msg-box3-31 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-31 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-31 .lead P {
  text-align: left;
}
#msg-box3-31 .mbr-section-title {
  text-align: left;
  font-family: 'Oxygen', sans-serif;
  font-size: 21px;
}
#msg-box3-31 .mbr-section-title I {
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
}
#msg-box3-31 .lead {
  text-align: left;
}
#contacts1-1g STRONG {
  color: #ffffff;
  font-size: 18px;
}
#contacts1-1g P {
  font-size: 17px;
}
#contacts1-1g B {
  font-size: 18px;
}
#contacts1-1g DIV {
  font-size: 16px;
}






#dropdown-menu-22 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-22 .navbar-brand a {
  font-size: 21px;
}
#dropdown-menu-22 .nav .link,
#dropdown-menu-22 .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-22 .navbar,
#dropdown-menu-22 .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-22 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-22 .dropdown-menu a:hover,
#dropdown-menu-22 .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-22 .navbar-toggler {
  color: #000000;
}
#content5-3e DIV {
  color: #ffffff;
}
#content5-3e .mbr-section-title {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 48px;
  text-align: right;
  color: #ffffff;
}
#content5-3e P {
  text-align: right;
}
#msg-box3-q .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-q .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-q .lead P {
  text-align: left;
}
#msg-box3-q .mbr-section-title {
  text-align: left;
  font-family: 'Oxygen', sans-serif;
  font-size: 30px;
}
#msg-box3-q .mbr-section-title I {
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
}
#msg-box4-3k .lead P {
  text-align: left;
}
#msg-box4-3k .mbr-section-title {
  text-align: left;
  font-family: 'Oxygen', sans-serif;
  font-size: 36px;
}
#msg-box3-3l .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-3l .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-3l .lead P {
  text-align: left;
}
#msg-box3-3l .mbr-section-title {
  text-align: left;
  font-family: 'Oxygen', sans-serif;
  font-size: 21px;
}
#msg-box3-3l .mbr-section-title I {
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
}
#contacts1-1g STRONG {
  color: #ffffff;
  font-size: 18px;
}
#contacts1-1g P {
  font-size: 17px;
}
#contacts1-1g B {
  font-size: 18px;
}
#contacts1-1g DIV {
  font-size: 16px;
}





#dropdown-menu-22 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-22 .navbar-brand a {
  font-size: 21px;
}
#dropdown-menu-22 .nav .link,
#dropdown-menu-22 .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-22 .navbar,
#dropdown-menu-22 .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-22 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-22 .dropdown-menu a:hover,
#dropdown-menu-22 .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-22 .navbar-toggler {
  color: #000000;
}
#content5-35 .mbr-section-title {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 48px;
  color: #ffffff;
  text-align: right;
}
#content5-35 DIV {
  color: #ffffff;
}
#content5-35 P {
  text-align: right;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 20px;
}
#msg-box3-2y .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-2y .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-2y .lead P {
  text-align: left;
}
#msg-box3-2y .mbr-section-title {
  text-align: left;
  font-family: 'Oxygen', sans-serif;
  font-size: 21px;
}
#msg-box3-2y .mbr-section-title I {
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
}
#testimonials1-1s .card-block I {
  color: #37383e;
}
#testimonials1-1s .card-footer > div {
  color: #e7aa1f;
}
#testimonials1-1s .mbr-section-title {
  font-family: 'Oxygen', sans-serif;
  font-size: 46px;
}
#testimonials1-1s .card-block P {
  text-align: left;
}
#contacts1-1g STRONG {
  color: #ffffff;
  font-size: 18px;
}
#contacts1-1g P {
  font-size: 17px;
}
#contacts1-1g B {
  font-size: 18px;
}
#contacts1-1g DIV {
  font-size: 16px;
}


#dropdown-menu-22 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-22 .navbar-brand a {
  font-size: 21px;
}
#dropdown-menu-22 .nav .link,
#dropdown-menu-22 .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-22 .navbar,
#dropdown-menu-22 .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-22 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-22 .dropdown-menu a:hover,
#dropdown-menu-22 .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-22 .navbar-toggler {
  color: #000000;
}
#header1-2f H1 {
  font-family: 'Alegreya Sans', sans-serif;
  color: #ffffff;
  text-align: center;
  font-size: 48px;
}
#header1-2f P {
  color: #ffffff;
  font-size: 24px;
}
#header1-2f .btn {
  font-size: 18px;
}
#content4-2t H4 {
  font-family: 'Oxygen', sans-serif;
  font-size: 18px;
  text-align: right;
}
#contacts1-1g STRONG {
  color: #ffffff;
  font-size: 18px;
}
#contacts1-1g P {
  font-size: 17px;
}
#contacts1-1g B {
  font-size: 18px;
}
#contacts1-1g DIV {
  font-size: 16px;
}
